<launch>


 <node pkg="rosbag" type="record" name="rosbag_record_ground_true"
       args="record -o $(find mm3)/bags/groundtrue /gazebo/model_states /rosout " output="screen"/>   
 <!--node pkg="rosbag" type="record" name="rosbag_record_gazebo"
       args="record -o /tmp/hrp2-diag /gazebo/model_states /rosout "/-->   
</launch>
